/* ############################# */
/* ####### Gloable Var ####### */
/* ############################# */

:root {
  --main-bg-color: #f2f2f2;
  --main-text-color: #441b7a;
  --accent-color: #ffa500;
  --hover-color: #ff1d00;
}
/* ############################# */
/* ########### Head ############ */
/* ############################# */

#topview {
  border-collapse: collapse; 
}

#topview th {
  color: var(--main-text-color);
  background: var(--accent-color);
  padding: 10px 120px 10px 10px;
  font-size: 40px;
  text-align: left;
}
/* Mouse Hover color */
a:hover {
  color: var(--hover-color);
}
/* ############################# */
/* ########### login ########### */
/* ############################# */

#login {
    text-align: center;
}
/* ############################# */
/* ######### Register ########## */
/* ############################# */

#register {
    text-align: center;
}
/* ############################# */
/* ######### hometown ########## */
/* ############################# */

#fuan td{
    padding: 10px 190px 10px 20px;
}

#fuan * {
    text-align: left!important;
    /* border-collapse: collapse; */
}
/* ############################# */
/* ########### button ########## */
/* ############################# */
.clickButton {
  margin-top: 20px;
}

/* ############################# */
/* ######### guestbook ######### */
/* ############################# */
.messagebox {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.messagebox strong {
  color: #333;
  font-weight: bold;
}

.deleteform {
  display: inline;
}

textarea[name="content"] {
  width: 100%;
  max-width: 600px;
  font-size: 1em;
  padding: 8px;
  margin-bottom: 10px;
}
